.layoutSiderCollapsed {
  width: 100%;
}

.layoutSiderExpanded {
  width: calc(100% + 200px);
}

.sider {
  min-height: 100vh;
}

.content {
  padding: 20px;
}

.fullHeight {
  min-height: 100vh !important;
}
