.CameraOptionsDropdown {
  position: absolute !important;
  top: 12px;
  right: 12px;
}

.CameraOptionsDropdown > button {
  border-radius: 2px !important;
}

.AdvancedOptions {
  margin: 12px -12px !important;
}
